.appear {
  transform: translateX(-50%);
}

.appearActive {
  transform: translateY(0);
  transition: transform 500ms linear;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: 0;
  color: darkblue;
}
